Copyright (c) 2020, NVIDIA CORPORATION.

Modifications copyright Intel. 

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

### Caculate follower, following count and write to parquent
#### using dataframe groupby operations

In [3]:
import os, time
os.environ["CUDA_VISIBLE_DEVICES"]="0"
start = time.time()

In [4]:

from datetime import datetime 
time_begin = datetime.now()

In [5]:
import pandas as pd, numpy as np, gc
from datetime import datetime
import joblib

import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)
#import cudf, cupy
#cudf.__version__

In [6]:
from numba import jit, njit, prange
from sklearn.metrics import precision_recall_curve, auc, log_loss

def compute_prauc(gt, pred, nafill=True):
    if nafill:
        pred[ np.isnan(pred) ] = np.nanmean( pred )
    prec, recall, thresh = precision_recall_curve(gt, pred)
    prauc = auc(recall, prec)
    return prauc

@jit
def fast_auc(y_true, y_prob):
    y_true = np.asarray(y_true)
    y_true = y_true[np.argsort(y_prob)]
    nfalse = 0
    auc = 0
    n = len(y_true)
    for i in range(n):
        y_i = y_true[i]
        nfalse += (1 - y_i)
        auc += y_i * nfalse
    auc /= (nfalse * (n - nfalse))
    return auc

@njit
def numba_log_loss(y,x):
    n = x.shape[0]
    ll = 0.
    for i in prange(n):
        if y[i]<=0.:
            ll += np.log(1-x[i] + 1e-15 )
        else:
            ll += np.log(x[i] + 1e-15)
    return -ll / n

def compute_rce(gt , pred, nafill=True, verbose=0):
    if nafill:
        pred[ np.isnan(pred) ] = np.nanmean( pred )
        
    cross_entropy = numba_log_loss( gt, pred  )
    
    yt = np.mean(gt>0)     
    strawman_cross_entropy = -(yt*np.log(yt) + (1 - yt)*np.log(1 - yt))
    
    if verbose:
        print( "logloss: {0:.5f} / {1:.5f} = {2:.5f}".format(cross_entropy, strawman_cross_entropy, cross_entropy/strawman_cross_entropy))
        print( 'mean:    {0:.5f} / {1:.5f}'.format( np.nanmean( pred ) , yt  ) )
    
    return (1.0 - cross_entropy/strawman_cross_entropy)*100.0

In [7]:
def save_memory( df ):
    features = df.columns
    for i in range( df.shape[1] ):
        if df.dtypes[i] == 'uint8':
            df[features[i]] = df[features[i]].astype( np.int8 )
            gc.collect()
        elif df.dtypes[i] == 'bool':
            df[features[i]] = df[features[i]].astype( np.int8 )
            gc.collect()
        elif df.dtypes[i] == 'uint32':
            df[features[i]] = df[features[i]].astype( np.int32 )
            gc.collect()
        elif df.dtypes[i] == 'int64':
            df[features[i]] = df[features[i]].astype( np.int32 )
            gc.collect()
        elif df.dtypes[i] == 'float64':
            df[features[i]] = df[features[i]].astype( np.float32 )
            gc.collect()

# Load Train

In [8]:
%%time
train = pd.read_parquet( '/mnt/DP_disk3/Recsys/train-1.parquet' )
test0 = pd.read_parquet( '/mnt/DP_disk3/Recsys/test-0.parquet' )
test1 = pd.read_parquet( '/mnt/DP_disk3/Recsys/test-1.parquet' )
gc.collect()

train['tr'] = 0
test0['tr'] = 1
test1['tr'] = 1

train.shape, test0.shape, test1.shape

CPU times: user 1min 3s, sys: 1min 8s, total: 2min 11s
Wall time: 7.16 s

((96600391, 28), (9943301, 28), (9941988, 28))

In [9]:
%%time
train = pd.concat( (train,test0,test1), sort=False )
gc.collect()
del test0,test1
gc.collect()

train.shape

CPU times: user 3min 1s, sys: 3min 21s, total: 6min 23s
Wall time: 23 s

(116485680, 28)

In [10]:
%%time
train = train.sort_values('timestamp').reset_index(drop=True) #TIME ORDER
gc.collect()

CPU times: user 4min 5s, sys: 7min 35s, total: 11min 41s
Wall time: 1min 58s

20

In [11]:
%%time
train.loc[ train.reply>0, 'reply' ] = 1
train.loc[ train.retweet>0, 'retweet' ] = 1
train.loc[ train.retweet_comment>0, 'retweet_comment' ] = 1
train.loc[ train.like>0, 'like' ] = 1

train['engage'] = 0
train.loc[ (train.reply>0)|(train.retweet>0)|(train.retweet_comment>0)|(train.like>0)  , 'engage'] = 1
gc.collect()

CPU times: user 2min 27s, sys: 2min 18s, total: 4min 45s
Wall time: 12.6 s

0

In [12]:
%%time
#train.head()

CPU times: user 3 µs, sys: 4 µs, total: 7 µs
Wall time: 15.5 µs

In [13]:
save_memory(train)
gc.collect()

0

In [14]:
train.dtypes

hashtags              int32
tweet_id              int32
media                  int8
links                 int32
domains               int32
tweet_type             int8
language               int8
timestamp             int32
a_user_id             int32
a_follower_count      int32
a_following_count     int32
a_is_verified          int8
a_account_creation    int32
b_user_id             int32
b_follower_count      int32
b_following_count     int32
b_is_verified          int8
b_account_creation    int32
b_follows_a            int8
reply                 int32
retweet               int32
retweet_comment       int32
like                  int32
id                    int32
len_hashtags          int32
len_domains           int32
len_links             int32
tr                    int32
engage                int32
dtype: object

In [15]:
%%time
dt0 = train[['tr','a_user_id','a_follower_count','a_following_count','timestamp','id']].copy()
dt1 = train[['tr','b_user_id','b_follower_count','b_following_count','timestamp','id']].copy()
dt1.columns = ['tr','a_user_id','a_follower_count','a_following_count','timestamp','id']
dt1['id'] = -1
dt = pd.concat( (dt0,dt1), sort=False )
del dt0,dt1; _=gc.collect()
dt.head()

CPU times: user 1min 42s, sys: 2min 17s, total: 4min
Wall time: 13.1 s

   tr  a_user_id  a_follower_count  a_following_count   timestamp        id
0   0     270842             38676                  0  1580947200  14176027
1   0      20986            682185                690  1580947200  61249597
2   0       3038           2982406               2411  1580947200  66929047
3   0      55201            634514               2549  1580947200   5817331
4   0       3698          12029492                 14  1580947200  62093480

In [16]:
%%time
dt['a_fc_max'] = dt.groupby(['tr','a_user_id','a_follower_count'])['timestamp'].transform('max'); _=gc.collect()
dt['a_fc_min'] = dt.groupby(['tr','a_user_id','a_follower_count'])['timestamp'].transform('min'); _=gc.collect()

dt['a_fc_dif'] = dt['a_fc_max'] - dt['a_fc_min']; _=gc.collect()

dt['a_fc_dif_max'] = dt.groupby(['tr','a_user_id'])['a_fc_dif'].transform('max'); _=gc.collect()

dt['a_fc_dif_flag'] = 1* ((dt['a_fc_dif'] == dt['a_fc_dif_max']) )  ; _=gc.collect()
dt.loc[ dt.a_fc_dif==0 ,'a_fc_dif_flag'] = -1

del dt['a_fc_max'],dt['a_fc_min'],dt['a_fc_dif'],dt['a_fc_dif_max'] ; _=gc.collect()
dt['a_fc_dif_flag'].value_counts()

CPU times: user 9min 41s, sys: 6min 26s, total: 16min 7s
Wall time: 5min 13s

 1    154558263
 0     50318574
-1     28094523
Name: a_fc_dif_flag, dtype: int64

In [17]:
%%time
train['a_user_fer_count_delta_time'] = train.merge( dt, on='id', how='left' )['a_fc_dif_flag'] ; _=gc.collect()

del dt['a_fc_dif_flag'] ; _=gc.collect()

train['a_user_fer_count_delta_time'].value_counts()

CPU times: user 2min 10s, sys: 1min 45s, total: 3min 55s
Wall time: 2min 37s

 1    65798700
 0    38696965
-1    11990015
Name: a_user_fer_count_delta_time, dtype: int64

In [18]:
%%time
train.groupby(['tr','a_user_fer_count_delta_time'])[['reply','retweet','retweet_comment','like']].agg(['mean'])

CPU times: user 6.76 s, sys: 8.48 s, total: 15.2 s
Wall time: 15.3 s

                                   reply   retweet retweet_comment      like
                                    mean      mean            mean      mean
tr a_user_fer_count_delta_time
0  -1                           0.019869  0.044525        0.004036  0.208164
    0                           0.000657  0.002185        0.000168  0.007955
    1                           0.038859  0.174026        0.011115  0.708059
1  -1                           0.000000  0.000000        0.000000  0.000000
    0                           0.000000  0.000000        0.000000  0.000000
    1                           0.000000  0.000000        0.000000  0.000000

In [19]:
%%time
dt['a_fc_max'] = dt.groupby(['tr','a_user_id','a_following_count'])['timestamp'].transform('max'); _=gc.collect()
dt['a_fc_min'] = dt.groupby(['tr','a_user_id','a_following_count'])['timestamp'].transform('min'); _=gc.collect()

dt['a_fc_dif'] = dt['a_fc_max'] - dt['a_fc_min']; _=gc.collect()

dt['a_fc_dif_max'] = dt.groupby(['tr','a_user_id'])['a_fc_dif'].transform('max'); _=gc.collect()

dt['a_fc_dif_flag'] = 1* ((dt['a_fc_dif'] == dt['a_fc_dif_max']) )  ; _=gc.collect()
dt.loc[ dt.a_fc_dif==0 ,'a_fc_dif_flag'] = -1

del dt['a_fc_max'],dt['a_fc_min'],dt['a_fc_dif'],dt['a_fc_dif_max'] ; _=gc.collect()
dt['a_fc_dif_flag'].value_counts()

CPU times: user 9min 38s, sys: 7min 20s, total: 16min 59s
Wall time: 5min 20s

 1    167975190
 0     36979505
-1     28016665
Name: a_fc_dif_flag, dtype: int64

In [20]:
%%time
train['a_user_fing_count_delta_time'] = train.merge( dt, on='id', how='left' )['a_fc_dif_flag'] ; _=gc.collect()

del dt['a_fc_dif_flag'] ; _=gc.collect()

train['a_user_fing_count_delta_time'].value_counts()

CPU times: user 2min 31s, sys: 1min 59s, total: 4min 31s
Wall time: 2min 50s

 1    82344700
 0    24481864
-1     9659116
Name: a_user_fing_count_delta_time, dtype: int64

In [21]:
%%time
train.groupby(['tr','a_user_fing_count_delta_time'])[['reply','retweet','retweet_comment','like']].agg(['mean'])

CPU times: user 16.7 s, sys: 21.3 s, total: 38 s
Wall time: 15.9 s

                                    reply   retweet retweet_comment      like
                                     mean      mean            mean      mean
tr a_user_fing_count_delta_time
0  -1                            0.024465  0.053724        0.004893  0.253100
    0                            0.001242  0.004111        0.000322  0.015526
    1                            0.031213  0.139823        0.008930  0.568790
1  -1                            0.000000  0.000000        0.000000  0.000000
    0                            0.000000  0.000000        0.000000  0.000000
    1                            0.000000  0.000000        0.000000  0.000000

In [22]:
%%time
dt['a_fc_max'] = dt.groupby(['tr','a_user_id','a_follower_count','a_following_count'])['timestamp'].transform('max'); _=gc.collect()
dt['a_fc_min'] = dt.groupby(['tr','a_user_id','a_follower_count','a_following_count'])['timestamp'].transform('min'); _=gc.collect()

dt['a_fc_dif'] = dt['a_fc_max'] - dt['a_fc_min']; _=gc.collect()

dt['a_fc_dif_max'] = dt.groupby(['tr','a_user_id'])['a_fc_dif'].transform('max'); _=gc.collect()

dt['a_fc_dif_flag'] = 1* ((dt['a_fc_dif'] == dt['a_fc_dif_max']) )  ; _=gc.collect()
dt.loc[ dt.a_fc_dif==0 ,'a_fc_dif_flag'] = -1

del dt['a_fc_max'],dt['a_fc_min'],dt['a_fc_dif'],dt['a_fc_dif_max'] ; _=gc.collect()
dt['a_fc_dif_flag'].value_counts()

CPU times: user 9min 50s, sys: 6min 28s, total: 16min 19s
Wall time: 5min 54s

 1    142509101
 0     52374661
-1     38087598
Name: a_fc_dif_flag, dtype: int64

In [23]:
%%time
train['a_user_fering_count_delta_time'] = train.merge( dt, on='id', how='left' )['a_fc_dif_flag'] ; _=gc.collect()

del dt['a_fc_dif_flag'] ; _=gc.collect()

train['a_user_fering_count_delta_time'].value_counts()

CPU times: user 2min 22s, sys: 1min 56s, total: 4min 18s
Wall time: 2min 54s

 1    64229290
 0    38849075
-1    13407315
Name: a_user_fering_count_delta_time, dtype: int64

In [24]:
%%time
train.groupby(['tr','a_user_fering_count_delta_time'])[['reply','retweet','retweet_comment','like']].agg(['mean'])

CPU times: user 18 s, sys: 27.1 s, total: 45.1 s
Wall time: 17.2 s

                                      reply   retweet retweet_comment  \
                                       mean      mean            mean
tr a_user_fering_count_delta_time
0  -1                              0.018088  0.040757        0.003686
    0                              0.000445  0.001520        0.000109
    1                              0.039823  0.178404        0.011398
1  -1                              0.000000  0.000000        0.000000
    0                              0.000000  0.000000        0.000000
    1                              0.000000  0.000000        0.000000

                                       like
                                       mean
tr a_user_fering_count_delta_time
0  -1                              0.188984
    0                              0.005477
    1                              0.725815
1  -1                              0.000000
    0                              0.000000
    1                              0.000000

In [25]:
%%time
dt['a_fc_count'] = dt.groupby(['tr','a_user_id','a_following_count'])['id'].transform('count'); _=gc.collect()
dt['a_fc_max']   = dt.groupby(['tr','a_user_id'])['a_fc_count'].transform('max'); _=gc.collect()
dt['a_fc_count_flag'] = 1* ((dt['a_fc_count'] == dt['a_fc_max']))  ; _=gc.collect()
dt.loc[ dt.a_fc_count<=1,'a_fc_count_flag'] = -1

del dt['a_fc_count'], dt['a_fc_max']
dt['a_fc_count_flag'].value_counts()

CPU times: user 5min 21s, sys: 3min 6s, total: 8min 27s
Wall time: 3min 8s

 1    174152185
 0     31870211
-1     26948964
Name: a_fc_count_flag, dtype: int64

In [26]:
%%time
train['a_user_fing_count_mode'] = train.merge( dt, on='id', how='left' )['a_fc_count_flag'] ; _=gc.collect()
del dt['a_fc_count_flag'] ; _=gc.collect()
train['a_user_fing_count_mode'].value_counts()

CPU times: user 2min 25s, sys: 2min 11s, total: 4min 36s
Wall time: 2min 55s

 1    84891704
 0    23002162
-1     8591814
Name: a_user_fing_count_mode, dtype: int64

In [27]:
%%time
train.groupby(['tr','a_user_fing_count_mode'])[['reply','retweet','retweet_comment','like']].agg(['mean'])

CPU times: user 18.4 s, sys: 34 s, total: 52.4 s
Wall time: 18.3 s

                              reply   retweet retweet_comment      like
                               mean      mean            mean      mean
tr a_user_fing_count_mode
0  -1                      0.024937  0.051945        0.004886  0.231284
    0                      0.002899  0.009612        0.000906  0.040556
    1                      0.030109  0.134996        0.008567  0.549942
1  -1                      0.000000  0.000000        0.000000  0.000000
    0                      0.000000  0.000000        0.000000  0.000000
    1                      0.000000  0.000000        0.000000  0.000000

In [28]:
%%time
dt['a_fc_count'] = dt.groupby(['tr','a_user_id','a_follower_count'])['id'].transform('count'); _=gc.collect()
dt['a_fc_max']   = dt.groupby(['tr','a_user_id'])['a_fc_count'].transform('max'); _=gc.collect()
dt['a_fc_count_flag'] = 1* ((dt['a_fc_count'] == dt['a_fc_max']))  ; _=gc.collect()
dt.loc[ dt.a_fc_count<=1,'a_fc_count_flag'] = -1

del dt['a_fc_count'], dt['a_fc_max']
dt['a_fc_count_flag'].value_counts()

CPU times: user 5min 31s, sys: 3min 3s, total: 8min 34s
Wall time: 3min 11s

 1    160046081
 0     47030798
-1     25894481
Name: a_fc_count_flag, dtype: int64

In [29]:
%%time
train['a_user_fer_count_mode'] = train.merge( dt, on='id', how='left' )['a_fc_count_flag'] ; _=gc.collect()
del dt['a_fc_count_flag'] ; _=gc.collect()
train['a_user_fer_count_mode'].value_counts()

CPU times: user 2min 33s, sys: 2min 13s, total: 4min 47s
Wall time: 3min 6s

 1    68129849
 0    38565530
-1     9790301
Name: a_user_fer_count_mode, dtype: int64

In [30]:
%%time
train.groupby(['tr','a_user_fer_count_mode'])[['reply','retweet','retweet_comment','like']].agg(['mean'])

CPU times: user 20.2 s, sys: 35.2 s, total: 55.4 s
Wall time: 17.1 s

                             reply   retweet retweet_comment      like
                              mean      mean            mean      mean
tr a_user_fer_count_mode
0  -1                     0.022498  0.047876        0.004481  0.211644
    0                     0.001140  0.003956        0.000334  0.016538
    1                     0.037660  0.168370        0.010736  0.686220
1  -1                     0.000000  0.000000        0.000000  0.000000
    0                     0.000000  0.000000        0.000000  0.000000
    1                     0.000000  0.000000        0.000000  0.000000

In [31]:
%%time
dt['a_fc_count'] = dt.groupby(['tr','a_user_id','a_follower_count','a_following_count'])['id'].transform('count'); _=gc.collect()
dt['a_fc_max']   = dt.groupby(['tr','a_user_id'])['a_fc_count'].transform('max'); _=gc.collect()
dt['a_fc_count_flag'] = 1* ((dt['a_fc_count'] == dt['a_fc_max']))  ; _=gc.collect()
dt.loc[ dt.a_fc_count<=1,'a_fc_count_flag'] = -1

del dt['a_fc_count'], dt['a_fc_max']
dt['a_fc_count_flag'].value_counts()

CPU times: user 5min 48s, sys: 3min 2s, total: 8min 50s
Wall time: 3min 34s

 1    148901469
 0     48249278
-1     35820613
Name: a_fc_count_flag, dtype: int64

In [32]:
%%time
train['a_user_fering_count_mode'] = train.merge( dt, on='id', how='left' )['a_fc_count_flag'] ; _=gc.collect()
del dt['a_fc_count_flag'] ; _=gc.collect()
train['a_user_fering_count_mode'].value_counts()

CPU times: user 2min 27s, sys: 2min 14s, total: 4min 41s
Wall time: 3min 5s

 1    66550719
 0    38794136
-1    11140825
Name: a_user_fering_count_mode, dtype: int64

In [33]:
%%time
train.groupby(['tr','a_user_fering_count_mode'])[['reply','retweet','retweet_comment','like']].agg(['mean'])

CPU times: user 19.5 s, sys: 45 s, total: 1min 4s
Wall time: 17.1 s

                                reply   retweet retweet_comment      like
                                 mean      mean            mean      mean
tr a_user_fering_count_mode
0  -1                        0.020006  0.042961        0.004003  0.188413
    0                        0.001049  0.003635        0.000305  0.015398
    1                        0.038492  0.172264        0.010983  0.702084
1  -1                        0.000000  0.000000        0.000000  0.000000
    0                        0.000000  0.000000        0.000000  0.000000
    1                        0.000000  0.000000        0.000000  0.000000

In [34]:
del dt; _=gc.collect()

In [35]:
%%time
train['a_count_combined'] = pd.factorize(
    (1+train['a_user_fer_count_delta_time'])*3**0 +
    (1+train['a_user_fing_count_delta_time'])*3**1 +
    (1+train['a_user_fering_count_delta_time'])*3**2 +
    (1+train['a_user_fing_count_mode'])*3**3 +
    (1+train['a_user_fer_count_mode'])*3**4 +
    (1+train['a_user_fering_count_mode'])*3**5 
)[0]
train['a_count_combined'].value_counts()

CPU times: user 27.9 s, sys: 13.4 s, total: 41.3 s
Wall time: 13.6 s

5      61241236
2      18623980
0      14443528
15      7564818
7       1910292
12      1575159
3       1081646
6       1001534
1        980180
4        751981
35       681396
38       608990
20       598396
11       578454
18       470587
9        401579
37       393211
13       338716
8        312975
28       255325
19       251898
16       226945
25       197505
48       178957
14       137615
29       129562
21        98735
31        89212
40        84427
33        71302
47        67186
49        62782
56        60543
26        58732
52        55906
10        54016
58        50091
50        40565
74        39913
30        38136
23        36482
51        34683
41        33079
44        32638
39        32311
46        31539
17        31015
53        29332
87        26198
27        24270
83        21122
68        20227
70        16047
60        16003
89        15336
42        14732
76        14702
55        13397
61        12422
45        12354
79        12027
62        10323
64        10119
22         9775
57         9345
43         9225
73         9141
67         8591
65         8517
78         7877
69         7485
82         6251
94         5992
90         5455
77         5286
86         5213
32         4818
95         4231
66         3937
63         3917
88         3481
97         3294
34         3179
122        3106
71         2990
91         2878
102        2573
117        2479
96         2361
80         2071
75         2027
93         1989
100        1844
84         1740
85         1693
54         1687
92         1561
98         1521
59         1293
116        1233
24         1189
114         975
107         975
112         913
72          884
118         770
123         642
101         613
135         611
115         541
99          526
106         519
126         517
120         497
129         471
130         455
125         430
113         424
124         403
36          402
110         379
103         319
138         299
133         298
111         283
121         280
131         278
104         261
109         257
81          256
145         254
105         238
147         234
140         100
141         100
119          83
132          72
128          61
136          49
137          39
144          38
148          32
127          30
159          26
161          26
155          24
156          20
153          19
142          17
143          16
134          16
108          15
146          12
152          10
139          10
151           6
162           6
158           6
163           4
160           4
149           4
154           3
166           3
157           2
168           2
165           2
169           2
150           1
164           1
167           1
Name: a_count_combined, dtype: int64

In [36]:
%%time
train.loc[ train.tr==0 ].groupby('a_count_combined')[['reply','retweet','retweet_comment','like']].agg(['mean'])

CPU times: user 34.9 s, sys: 59 s, total: 1min 33s
Wall time: 42.7 s

                     reply   retweet retweet_comment      like
                      mean      mean            mean      mean
a_count_combined
0                 0.000121  0.000440        0.000032  0.001588
1                 0.004567  0.015067        0.001161  0.054440
2                 0.000111  0.000348        0.000027  0.001281
3                 0.003262  0.013309        0.000867  0.048433
4                 0.000383  0.001185        0.000076  0.005644
5                 0.039985  0.181085        0.011416  0.736225
6                 0.037669  0.125738        0.012553  0.542132
7                 0.000045  0.000156        0.000011  0.000611
8                 0.000371  0.001082        0.000077  0.004442
9                 0.032750  0.109221        0.009898  0.488173
10                0.040252  0.130037        0.009543  0.468817
11                0.029253  0.107684        0.009013  0.469703
12                0.008063  0.024210        0.002084  0.089812
13                0.000802  0.002818        0.000263  0.016205
14                0.000691  0.001946        0.000151  0.007552
15                0.028029  0.057810        0.005463  0.259576
16                0.002728  0.009066        0.000771  0.032814
17                0.000529  0.002819        0.000176  0.008775
18                0.000242  0.000756        0.000057  0.002551
19                0.000013  0.000063        0.000000  0.000327
20                0.001867  0.005428        0.000358  0.019547
21                0.039356  0.127045        0.010733  0.484385
22                0.000784  0.004181        0.000392  0.014243
23                0.007286  0.023686        0.001573  0.084796
24                0.003865  0.006763        0.000000  0.023188
25                0.044662  0.140472        0.011282  0.518948
26                0.003408  0.011118        0.000940  0.038174
27                0.000510  0.001683        0.000102  0.008721
28                0.000325  0.000806        0.000039  0.002780
29                0.015461  0.052198        0.004007  0.249486
30                0.030435  0.110540        0.009907  0.404473
31                0.001862  0.006310        0.000650  0.019876
32                0.001212  0.004365        0.000242  0.010912
33                0.005353  0.015604        0.001249  0.055749
34                0.000693  0.005201        0.000347  0.012829
35                0.010650  0.026871        0.002288  0.100585
36                0.017143  0.022857        0.000000  0.068571
37                0.041585  0.141851        0.011069  0.563141
38                0.035376  0.105882        0.008019  0.640484
39                0.001778  0.005086        0.000356  0.018102
40                0.046404  0.160989        0.012769  0.572353
41                0.010757  0.031640        0.002663  0.115452
42                0.023390  0.047343        0.004903  0.297886
43                0.001491  0.006339        0.000497  0.020010
44                0.003172  0.011593        0.001397  0.036970
45                0.001971  0.004121        0.000269  0.028582
46                0.024971  0.087805        0.006061  0.408844
47                0.000079  0.000238        0.000032  0.000763
48                0.012003  0.039819        0.002432  0.136744
49                0.000332  0.001207        0.000140  0.004304
50                0.042174  0.126175        0.009978  0.451851
51                0.000800  0.001908        0.000062  0.006956
52                0.007641  0.021133        0.001765  0.076529
53                0.006635  0.024136        0.001707  0.082767
54                0.009078  0.030726        0.001397  0.133380
55                0.002730  0.009189        0.000364  0.028842
56                0.000347  0.000895        0.000037  0.003852
57                0.030360  0.102998        0.008405  0.359679
58                0.002527  0.006755        0.000753  0.022964
59                0.004333  0.003466        0.000000  0.031196
60                0.000134  0.000335        0.000000  0.000804
61                0.039618  0.144690        0.013522  0.517268
62                0.036327  0.118064        0.010079  0.397940
63                0.001454  0.004943        0.000291  0.016284
64                0.002308  0.008747        0.000486  0.028065
65                0.038406  0.124132        0.011011  0.415651
66                0.000269  0.000269        0.000000  0.002694
67                0.011195  0.030905        0.003784  0.131662
68                0.002728  0.008573        0.000724  0.032732
69                0.034114  0.081434        0.007546  0.431222
70                0.000066  0.000133        0.000066  0.000861
71                0.001153  0.004228        0.000000  0.012298
72                0.006684  0.012032        0.001337  0.058824
73                0.002760  0.008148        0.000526  0.029702
74                0.000113  0.000282        0.000085  0.002338
75                0.002849  0.009687        0.000000  0.023932
76                0.005140  0.015259        0.001205  0.051076
77                0.000849  0.001487        0.000000  0.006158
78                0.002146  0.008582        0.000429  0.024317
79                0.033118  0.110742        0.007971  0.397798
80                0.001186  0.008304        0.000593  0.024911
81                0.000000  0.000000        0.000000  0.008621
82                0.000000  0.000169        0.000000  0.000169
83                0.034296  0.106928        0.009783  0.400353
84                0.001334  0.010674        0.000000  0.026017
85                0.053597  0.173484        0.014104  0.551481
86                0.023232  0.101469        0.006833  0.370003
87                0.007043  0.026891        0.001878  0.183883
88                0.027643  0.088459        0.009675  0.290947
89                0.002612  0.007045        0.000950  0.024539
90                0.000827  0.001033        0.000207  0.007440
91                0.026457  0.085986        0.006201  0.321207
92                0.053097  0.148968        0.015487  0.480088
93                0.046330  0.151625        0.011432  0.604693
94                0.006618  0.013650        0.001241  0.108170
95                0.000000  0.000000        0.000000  0.000758
96                0.001896  0.003791        0.001422  0.013744
97                0.027788  0.103473        0.006947  0.342596
98                0.010269  0.037125        0.002370  0.165877
99                0.006637  0.022124        0.004425  0.081858
100               0.012870  0.020592        0.003218  0.138353
101               0.021195  0.088632        0.009634  0.300578
102               0.028024  0.111163        0.009809  0.340028
103               0.029630  0.088889        0.014815  0.277778
104               0.000000  0.008621        0.004310  0.004310
105               0.009662  0.053140        0.000000  0.096618
106               0.027211  0.122449        0.009070  0.480726
107               0.001111  0.001111        0.000000  0.010000
108               0.000000  0.000000        0.000000  0.000000
109               0.026087  0.008696        0.008696  0.069565
110               0.000000  0.012987        0.003247  0.019481
111               0.012712  0.016949        0.004237  0.059322
112               0.001190  0.000000        0.000000  0.010714
113               0.000000  0.010417        0.000000  0.041667
114               0.003509  0.007018        0.000000  0.043275
115               0.000000  0.000000        0.000000  0.000000
116               0.042701  0.167825        0.014896  0.550149
117               0.011364  0.028883        0.004261  0.153883
118               0.004777  0.007962        0.000000  0.028662
119               0.028571  0.000000        0.000000  0.014286
120               0.004320  0.012959        0.000000  0.088553
121               0.020747  0.120332        0.012448  0.356846
122               0.000763  0.004197        0.000000  0.013354
123               0.001779  0.017794        0.001779  0.071174
124               0.002874  0.008621        0.000000  0.077586
125               0.002740  0.019178        0.000000  0.046575
126               0.000000  0.002092        0.000000  0.004184
127               0.000000  0.192308        0.038462  0.500000
128               0.021277  0.042553        0.000000  0.489362
129               0.028796  0.091623        0.002618  0.238220
130               0.000000  0.014749        0.002950  0.064897
131               0.004310  0.068966        0.008621  0.344828
132               0.000000  0.000000        0.000000  0.095238
133               0.000000  0.000000        0.000000  0.000000
134               0.000000  0.000000        0.000000  0.000000
135               0.005535  0.012915        0.003690  0.081181
136               0.000000  0.063830        0.000000  0.382979
137               0.000000  0.032258        0.000000  0.129032
138               0.011278  0.075188        0.003759  0.315789
139               0.100000  0.100000        0.100000  0.200000
140               0.011494  0.011494        0.000000  0.011494
141               0.000000  0.000000        0.000000  0.020408
142               0.000000  0.000000        0.000000  0.200000
143               0.000000  0.000000        0.000000  0.142857
144               0.000000  0.000000        0.000000  0.026316
145               0.037234  0.138298        0.026596  0.420213
146               0.000000  0.090909        0.000000  0.181818
147               0.000000  0.009950        0.000000  0.034826
148               0.035714  0.107143        0.000000  0.464286
149               0.333333  0.000000        0.000000  0.000000
150               0.000000  0.000000        0.000000  0.000000
151               0.000000  0.250000        0.000000  0.500000
152               0.000000  0.000000        0.000000  0.250000
153               0.000000  0.000000        0.000000  0.000000
154               0.000000  0.000000        0.000000  0.000000
155               0.041667  0.000000        0.000000  0.041667
156               0.000000  0.000000        0.000000  0.111111
157               0.000000  0.000000        0.000000  0.000000
158               0.000000  0.000000        0.000000  0.000000
159               0.000000  0.000000        0.000000  0.000000
160               0.000000  0.250000        0.000000  0.250000
161               0.000000  0.038462        0.000000  0.153846
162               0.000000  0.000000        0.000000  0.000000
163               0.000000  0.000000        0.000000  0.000000
164               0.000000  0.000000        0.000000  0.000000
165               0.000000  0.500000        0.500000  0.500000
166               0.000000  0.333333        0.000000  0.000000
167               0.000000  0.000000        0.000000  1.000000
168               1.000000  0.000000        0.000000  0.000000
169               0.000000  0.000000        0.000000  0.000000

In [37]:
%%time
train.head()

CPU times: user 142 µs, sys: 126 µs, total: 268 µs
Wall time: 242 µs

,hashtags,tweet_id,media,links,domains,tweet_type,language,timestamp,a_user_id,a_follower_count,a_following_count,a_is_verified,a_account_creation,b_user_id,b_follower_count,b_following_count,b_is_verified,b_account_creation,b_follows_a,reply,retweet,retweet_comment,like,id,len_hashtags,len_domains,len_links,tr,engage,a_user_fer_count_delta_time,a_user_fing_count_delta_time,a_user_fering_count_delta_time,a_user_fing_count_mode,a_user_fer_count_mode,a_user_fering_count_mode,a_count_combined
0,0,9120314,9,1071726,22,2,11,1580947200,270842,38676,0,0,1548203841,17464009,23,83,0,1564324477,0,0,0,0,0,14176027,0,1,1,0,0,0,1,0,1,0,0,0
1,0,1830434,5,265433,1872,2,54,1580947200,20986,682185,690,1,1231757540,16198222,119,399,0,1447636077,0,0,0,0,0,61249597,0,1,1,0,0,0,1,0,1,0,0,0
2,27371,1168463,0,0,0,2,54,1580947200,3038,2982406,2411,1,1179400159,22612297,250,1067,0,1488232436,0,0,0,0,0,66929047,2,0,0,0,0,0,0,0,1,1,1,1
3,351628,4238914,5,560619,4220,2,54,1580947200,55201,634514,2549,1,1213725718,14270974,14,352,0,1557016053,0,0,0,0,0,5817331,1,1,1,0,0,0,0,0,0,0,0,2
4,1585,733660,5,113569,429,2,54,1580947200,3698,12029492,14,1,1239741288,16481715,1,124,0,1570715989,0,0,0,0,0,62093480,1,1,1,0,0,0,1,0,1,0,0,0

In [38]:
%%time
dt = train[['id','a_count_combined','a_user_fer_count_delta_time','a_user_fing_count_delta_time','a_user_fering_count_delta_time','a_user_fing_count_mode','a_user_fer_count_mode','a_user_fering_count_mode']]
dt = dt.sort_values( 'id' )
dt = dt.reset_index( drop=True )
save_memory( dt )
dt.to_parquet( '/mnt/DP_disk3/Recsys/a_count_combined-final.parquet' )
dt.tail(50)

CPU times: user 2min 48s, sys: 1min 49s, total: 4min 37s
Wall time: 1min 14s

,id,a_count_combined,a_user_fer_count_delta_time,a_user_fing_count_delta_time,a_user_fering_count_delta_time,a_user_fing_count_mode,a_user_fer_count_mode,a_user_fering_count_mode
116485630,116485630,15,-1,-1,-1,-1,-1,-1
116485631,116485631,5,1,1,1,1,1,1
116485632,116485632,0,0,1,0,1,0,0
116485633,116485633,15,-1,-1,-1,-1,-1,-1
116485634,116485634,5,1,1,1,1,1,1
116485635,116485635,5,1,1,1,1,1,1
116485636,116485636,2,0,0,0,0,0,0
116485637,116485637,5,1,1,1,1,1,1
116485638,116485638,15,-1,-1,-1,-1,-1,-1
116485639,116485639,5,1,1,1,1,1,1
116485640,116485640,38,-1,-1,-1,1,1,1
116485641,116485641,15,-1,-1,-1,-1,-1,-1
116485642,116485642,5,1,1,1,1,1,1
116485643,116485643,5,1,1,1,1,1,1
116485644,116485644,5,1,1,1,1,1,1
116485645,116485645,0,0,1,0,1,0,0
116485646,116485646,15,-1,-1,-1,-1,-1,-1
116485647,116485647,37,1,0,1,1,1,1
116485648,116485648,4,-1,1,-1,1,0,0
116485649,116485649,2,0,0,0,0,0,0
116485650,116485650,15,-1,-1,-1,-1,-1,-1
116485651,116485651,2,0,0,0,0,0,0
116485652,116485652,15,-1,-1,-1,-1,-1,-1
116485653,116485653,2,0,0,0,0,0,0
116485654,116485654,2,0,0,0,0,0,0
116485655,116485655,0,0,1,0,1,0,0
116485656,116485656,12,-1,1,-1,1,-1,-1
116485657,116485657,5,1,1,1,1,1,1
116485658,116485658,5,1,1,1,1,1,1
116485659,116485659,0,0,1,0,1,0,0
116485660,116485660,5,1,1,1,1,1,1
116485661,116485661,0,0,1,0,1,0,0
116485662,116485662,0,0,1,0,1,0,0
116485663,116485663,2,0,0,0,0,0,0
116485664,116485664,5,1,1,1,1,1,1
116485665,116485665,5,1,1,1,1,1,1
116485666,116485666,5,1,1,1,1,1,1
116485667,116485667,0,0,1,0,1,0,0
116485668,116485668,15,-1,-1,-1,-1,-1,-1
116485669,116485669,15,-1,-1,-1,-1,-1,-1
116485670,116485670,5,1,1,1,1,1,1
116485671,116485671,0,0,1,0,1,0,0
116485672,116485672,0,0,1,0,1,0,0
116485673,116485673,5,1,1,1,1,1,1
116485674,116485674,5,1,1,1,1,1,1
116485675,116485675,5,1,1,1,1,1,1
116485676,116485676,5,1,1,1,1,1,1
116485677,116485677,15,-1,-1,-1,-1,-1,-1
116485678,116485678,5,1,1,1,1,1,1
116485679,116485679,5,1,1,1,1,1,1

In [39]:
time_end = datetime.now()

print("5th notebook total process time", time_end - time_begin)

5th notebook total process time 0:51:24.979394