In [14]:
import os
import sys
import pandas
import random
from tensorflow.python.lib.io import file_io

local_prefix = "/mnt/nvme2/chendi/BlueWhale/x-deeplearning/xdl-algorithm-solution/DIEN/data/pyspark_output"

def list_dir(path):
    source_path_dict = {}
    dirs = os.listdir(path)
    for files in dirs:
        try:
            sub_dirs = os.listdir(path + "/" + files)
            for file_name in sub_dirs:
                if (file_name.endswith('parquet') or file_name.endswith('csv')):
                    source_path_dict[files] = os.path.join(
                        path, files, file_name)
        except:
            source_path_dict[files] = os.path.join(path, files)
    return source_path_dict

#### Expected Shape:

* total train and test length:  5963668

In [25]:
source_path_dict = list_dir(local_prefix + '/dien/output/')
# load files as arrow memory
train = pandas.read_csv(source_path_dict["local_train_splitByUser"], sep='\t', header=None)
test = pandas.read_csv(source_path_dict["local_test_splitByUser"], sep='\t', header=None)
#lens_reader = pandas.read_parquet(source_path_dict['list_lens'])
uid_voc = pandas.read_parquet(source_path_dict["uid_voc"])
mid_voc = pandas.read_parquet(source_path_dict["mid_voc"])
cat_voc = pandas.read_parquet(source_path_dict["cat_voc"])

In [27]:
#pandas.set_option('display.max_colwidth', 100)
train[train[1]=='AZPJ9LUT0FEPY']

,0,1,2,3,4,5,6
4561418,0,AZPJ9LUT0FEPY,B002Y3O8FE,Books,006224839103077444340470530707080073160315905164000978924622,BooksBooksBooksdefault_catBooksBooks,1
4561419,1,AZPJ9LUT0FEPY,0806317884,Books,006224839103077444340470530707080073160315905164000978924622,BooksBooksBooksdefault_catBooksBooks,2